.ad{

    margin-top: -10px;

}

.sear{
    float: right;
	margin-right: 10px;
	margin-top: -10px;
	padding: 3px;
	overflow: hidden;



}

table {
    border-spacing: 10px;
    width: 100%;
  background-color: #f1f1c1;
  }


